LiteDb-Memory-Lib/.idea/*
LiteDb-Memory-Lib/bin/*
LiteDb-Memory-Lib/obj/*
/MSBuild/*.*
LiteDb-Memory-Tests/obj/*
LiteDb-Memory-Tests/bin/*
LiteDb-Memory-Tests/.idea/*
LiteDb-Memory-Lib/global.json
MSBuild/LiteDb-Memory-Lib.sln.DotSettings.user


MSBuild/LiteDb-Memory-Lib.sln.DotSettings.user
